/* ======================================================
   NOMBRE COMPLETO - MICHELLE HERNÁNDEZ MUÑOZ
   MISMO ESTILO QUE ALEJANDRA
====================================================== */

body .portada .contenido-portada h2 {

    font-family:
        "Cormorant Garamond",
        serif;

    font-size:
        clamp(32px, 5vw, 52px);

    line-height:
        1.15;

    font-weight:
        600;

    letter-spacing:
        2px;

    margin-top:
        18px;

    margin-bottom:
        0;

    /* MISMO ROSA QUE ALEJANDRA */
    color:
        #f3b6c7 !important;

    /* FUERZA EL COLOR EN CHROME */
    -webkit-text-fill-color:
        #f3b6c7 !important;

    text-shadow:

        0 2px 5px
        rgba(0, 0, 0, 0.80),

        0 0 15px
        rgba(243, 182, 199, 0.85),

        0 0 30px
        rgba(243, 182, 199, 0.45);

    opacity:
        0;

    transform:
        translateY(25px);

    animation:
        aparecerArriba
        1s
        ease
        forwards;

    animation-delay:
        1.5s;
}
